# --- DB ---
DATABASE_URL="postgresql://username:password@localhost:5432/dbname"
TEST_DATABASE_URL="postgresql://zombiezone:zombiezone@localhost:5432/zombiezone_test"

# --- Server ---
FRONTEND_URL=https://sharo.fr
PORT=3000
NODE_ENV=development
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173,https://sharo.fr
LOG_LEVEL=warn

# --- Admin ---
ADMIN_EMAIL=steph@sharo.fr
ADMIN_FIRSTNAME=Steph
ADMIN_LASTNAME=O'clock Alumni
ADMIN_PASSWORD=x

# --- Security ---
JWT_ACCESS_SECRET=x
JWT_REFRESH_SECRET=x
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

PASSWORDS_BLACKLIST=Passw0rd, Password123

# --- SMTP ---
SMTP_HOST=smtp.ionos.fr
SMTP_PORT=587
SMTP_USER=z0mbiez0ne@sharo.fr
SMTP_PASS=z0mbiez0ne!!FUCKyou666
SMTP_FROM="zØmbie zØne <z0mbiez0ne@sharo.fr>"