# --- DB ---
DATABASE_URL="postgresql://username:password@localhost:5432/dbname"

# --- Server ---
PORT=3000
NODE_ENV=development
ALLOWED_ORIGINS=http://xxx:3000,http://xxx:5173,http://xxx.com,https://xxx.com
LOG_LEVEL=info

# --- Admin ---
ADMIN_EMAIL=x@x.fr
ADMIN_FIRSTNAME=x
ADMIN_LASTNAME=x
ADMIN_PASSWORD=x

# --- Security ---
JWT_SECRET=jwt-secret
